[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/reza/Applications/Discord/Discord
Icon=/home/reza/Applications/Discord/discord.png
Name=Discord
